body, html {
  padding: 0;
  margin: 0;
  background: black;
}
html {
  overflow-x: hidden;

}
#root {
  position: relative;
  height: 100%;
  width: 100%;
  background: none;
}

.edit-page,
.preview-page {
  width: 595px;
  min-height: 842px;

  background: white;
}

.edit-page-toggle-btn,
.preview-page-toggle-btn {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 0;

  background: red;
}
.edit-page-toggle-btn {
  right: -100px;
}
.preview-page-toggle-btn {
  left: -100px;
}
.edit-page,
.preview-page {
  top: 25px;
}
.edit-page {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.edit-page.hide {
  left: -100%;
}
.preview-page {
  position: absolute;
  left: calc(100% + 100px);
}
.preview-page.show {
  left: 50%;
  transform: translateX(-50%);
}
.edit-page,
.edit-page-hide,
.preview-page,
.preview-page.show {
  transition: all 500ms ease-in-out;
}
/************************************/
/* EDIT PAGE ************************/
/* hero form */
.edit-hero-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
/* summary form */
.edit-summary-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
/* contact form */
.edit-contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
/* skills and tech */
.skills-tech-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.edit-skills-list,
.edit-tech-list {
  list-style: none;
  padding: 0;
}
.edit-page-skill,
.edit-page-technology {
  display: flex;
  align-items: center;
  gap: 10px;
}
.edit-skills-add,
.edit-tech-add {
  display: flex;
  align-items: center;
  gap: 10px;
}
/************************************/
/* PREVIEW PAGE *********************/
/* hero container */
.preview-hero-container {
  position: relative;
  height: 150px;
  width: 100%;

  border: 1px solid red;
}

.preview-hero-container h1 {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}
.preview-hero-container h2 {
  position: absolute;
  top: 75%;
  right: 40px;
  transform: translateY(-50%);
}

.preview-hero-avi{
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  top: 50%;
  left: 40px;

  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  background: gray;
}
/* main content */
.preview-main-content-container {
  position: absolute;
  top: 150px;
  right: 40px;
  bottom: 0;
  left: 40px;
  z-index: -1;

}
/* left column*/
.preview-left-column {
  position: absolute;

  width: calc(33% - 20px);
  top: 115px;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  gap: 40px;

  border: 1px solid green;
}

.preview-skills-container {
  height: 150px;
  width: 100%;

  background: lightgray;
}
.preview-tech-container {
  height: 150px;
  width: 100%;

  background: lightgray;
}
/* right column */
.preview-right-column {
  position: absolute;

  width: calc(66% - 20px);
  top: 40px;
  right: 0;
  bottom: 0;

  border: 1px solid pink;
}
/* summary */
.preview-summary-container {
  background: lightgray;
}
/* address */
.preview-address-container {
  background: lightgray;
}
/* phone */
.preview-phone-container {
  background: lightgray;
}
/* email */
.preview-email-container {
  background: lightgray;
}
