body, html {
  padding: 0;
  margin: 0;
  background: black;
}
#root {
  position: relative;
  height: 100%;
  width: 100%;
  background: none;
}

.edit-page,
.preview-page {
  width: 595px;
  min-height: 842px;
  margin: 0 auto;

  background: white;
}