body, html {
  padding: 0;
  margin: 0;
  background: black;
}
html {
  overflow-x: hidden;
}
#root {
  position: relative;
  height: 100%;
  width: 100%;
  background: none;
}

.edit-page,
.preview-page {
  width: 595px;
  min-height: 842px;

  background: white;
}

.edit-page-toggle-btn,
.preview-page-toggle-btn {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 0;

  background: red;
}
.edit-page-toggle-btn {
  right: -100px;
}
.preview-page-toggle-btn {
  left: -100px;
}
.edit-page,
.preview-page {
  top: 25px;
}
.edit-page {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.edit-page.hide {
  left: -100%;
}
.preview-page {
  position: absolute;
  left: calc(100% + 100px);
}
.preview-page.show {
  left: 50%;
  transform: translateX(-50%);
}
.edit-page,
.edit-page-hide,
.preview-page,
.preview-page.show {
  transition: all 500ms ease-in-out;
}
/************************************/
/* EDIT PAGE ************************/
/* hero form */
.edit-hero-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px;
}
.edit-hero-form input,
.edit-contact-form input {
  outline: none;
  border: 0;
  border-bottom: 1px solid black;
}
.edit-hero-form textarea {
  outline: none;
}
/* summary form */
.edit-summary-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px;
}
/* contact form */
.edit-contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px;
}
/* skills and tech */
.edit-skills-tech-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.edit-skills-tech-container input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
.edit-skills-section,
.edit-tech-section {
  margin: 10px;
}
.edit-skills-list,
.edit-tech-list {
  list-style: none;
  padding: 0;
}
.edit-page-skill,
.edit-page-technology {
  display: flex;
  align-items: center;
  gap: 10px;
}
.edit-skills-add,
.edit-tech-add {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* experience */
.edit-experience-container {
  margin: 10px;
}
.edit-page-exp,
.edit-page-edu {
  width: 75%;
  margin: 10px auto;
  position: relative;
  display: flex;
  flex-direction: column;

  border: 1px solid black;
}
.edit-page-exp-item-btn-group,
.edit-page-edu-item-btn-group {
  display: flex;
  margin-left: auto;
}
.edit-page-exp p,
.edit-page-edu p {
  margin: 0;
  padding: 0;
}
.edit-exp-window,
.edit-edu-window {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  background: white;
  border: 1px solid red;
}
.exp-window-btn-group,
.edu-window-btn-group {
  width: fit-content;
  margin-left: auto;
  display: flex;
}
.add-exp-modal-container,
.add-edu-modal-container {
  position: relative;
}
.add-exp-modal-btn,
.add-edu-modal-btn {
  width: fit-content;
  margin-left: auto;
}
.add-exp-window,
.add-edu-window {
  width: 50%;
  position: absolute;
  top: -50vh;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;

  background: white;
  border: 1px solid red;
}
/* functional modal css classes must live below
regular styles */
.display-block {
  display: block;
}
.display-none {
  display: none;
}
/************************************/
/* PREVIEW PAGE *********************/
/* hero container */
.preview-hero-container {
  position: relative;
  height: 150px;
  width: 100%;

  border: 1px solid red;
}

.preview-hero-container h1 {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}
.preview-hero-container h2 {
  position: absolute;
  top: 75%;
  right: 40px;
  transform: translateY(-50%);
}

.preview-hero-avi{
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  top: 50%;
  left: 40px;

  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  background: gray;
}
/* main content */
.preview-main-content-container {
  position: absolute;
  top: 150px;
  right: 40px;
  bottom: 0;
  left: 40px;
  z-index: -1;

}
/* left column*/
.preview-left-column {
  position: absolute;

  width: calc(33% - 20px);
  top: 115px;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  gap: 40px;

  border: 1px solid green;
}

.preview-skills-container {
  width: 100%;

  background: lightgray;
}
.preview-tech-container {
  width: 100%;

  background: lightgray;
}
/* right column */
.preview-right-column {
  position: absolute;

  width: calc(66% - 20px);
  top: 40px;
  right: 0;
  bottom: 0;

  border: 1px solid pink;
}
/* summary */
.preview-summary-container {
  background: lightgray;
}
/* contact */
.preview-contact-container {
  background: lightgray;
}
/* experience / education */
.preview-experience-container,
.preview-education-container {
  position: relative;
  background: lightgray;
}
.preview-experience-container ul,
.preview-education-container ul {
  padding: 0;
}
.preview-exp-item,
.preview-edu-item {
  margin: 10px auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.preview-experience-container::after {
  content: '';
  position: absolute;
  bottom: -10px;
  height: 2px;
  width: 75%;
  background: black;
}
.preview-exp-item p,
.preview-edu-item p {
  margin: 0;
  padding: 0;
}